{% extends 'dashboard/base.html' %}

{% block content %}

<h1>Welcome to the dashboard, {{user}}.</h1>
<hr>

<a href="{%url 'create-record'}" class="btn btn-outline-primary btn-sm"> Create Record</a>

<hr>

<table class="table table-hover">

    <thead class="table-dark">

        <tr>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Guardian's Number</th>
            <th scope="col">Address</th>
            <th scope="col">Date Created</th>

            <th scope="col">View</th>
        </tr>

    </thead>

    <tbody>

        {% if records %}

        {% for record in records %}
        <tr>
            <td> {{record.id}} </td>
            <td> {{record.firstname}} {{record.lastname}}</td>
            <td> {{record.parentnumber}}</td>
            <td> {{record.address}} </td>
            <td> {{record.date_creation}} </td>
        </tr>
        {%endfor%}
        {% endif %}
    </tbody>

</table>

{%endblock%}