{% extends 'dashboard/base.html' %}

{% block content %}
<body>
        
    <div class="container bg-secondary shadow-md p-2 form-layout">
    
        <div class="text-secondary bg-primary p-2">
            <h1 class="text-light">Update Record</h1>
            <h7 class="text-success">Update the required details for your record<hr></h7>
        </div>
    
        
        <br>
        <form method="POST" autocomplete="off">
    
            {% csrf_token %}
    
            {{form.as_p}}
            <br>
    
            <button type="submit" class="btn btn-primary p-2">Update Record</button>
        </form>
        <br>
    </div>
</body>
{% endblock %}